

body {
  margin: 0;
  background-color: white;
  font-family: 'Open Sans', Tahoma, Verdana, sans-serif;
}
* {
  box-sizing: border-box;
}
/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  background-image: cover;
 
}


.hero-text {
 text-decoration:none;
  text-align: center;
  position: absolute;
  float: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  border: 4px;
  border-color: aquamarine;
}


.h1 {
  text-align: center;

}
.h2{
  text-decoration: none;
  text-align: center;
  font-size: smaller;
  font-style: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: cover;
  
  
 
  
}


/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: black;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}



div.gallery {
  border: 2px solid #ccc;
}

div.gallery:hover {
  border: 2px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.button {
  border-radius: 25px;
  background-color: orangered;
  border: 2px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  
}


/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

